Penetration Test and Report

Engaging in the identification of system-level vulnerabilities that can be discovered and exploited without prior knowledge of the environment or notifying administrators. This involves attempting to exploit identified weaknesses to gain access to confidential information stored on systems, followed by thorough documentation and reporting of all findings.
Tools: Shodan, metasploit, kiwi,NMap, Burp suite


[Report](https://docs.google.com/document/d/16C8-LxLITshac5H1R7hNyjOtjpj-KdvhTRH_fNFKg7U/edit?usp=sharing)
